In [1]:
# dict
# -indexing
# -orderd
# -Can have duplicate values
# -mutable
# -defined by {} brackets

In [2]:
a = {}
type(a)

dict

In [6]:
# Syantax 
# a = {<key>:<values>,<key>:<values>}

dic_a = {"a":"apple","b":"ball"}
dic_b = {1:"apple",2:"ball"}     
print(dic_a)
print(dic_b)
print(dic_a["a"])
print(dic_b[1])

{'a': 'apple', 'b': 'ball'}
{1: 'apple', 2: 'ball'}
apple
apple

In [9]:
# Can have multiple values but not Same key/index
a = {"a":"apple","b":"ball","A":"ball"}
b = {"a":"apple","b":"ball","a":"ball"}  # VAlues of same index get updated with the end value
c = {"a":"apple","b":"ball","A":"apple"}
d = {"a":"apple","b":"ball","a":"apple"}
print(a)
print(b)
print(c)
print(d)

{'a': 'apple', 'b': 'ball', 'A': 'ball'}
{'a': 'ball', 'b': 'ball'}
{'a': 'apple', 'b': 'ball', 'A': 'apple'}
{'a': 'apple', 'b': 'ball'}

In [11]:
# VAlues of same index get updated with the end value
a ={1:"apple"}
a[1] = "ant"
print(a)

{1: 'ant'}

In [13]:
# Adding key and values to the dict a.
a ={}
a["ram"] = 9676747548
a["shyam"] = 9676747548
a["amar"] = 9676747548
print(a)

{'ram': 9676747548, 'shyam': 9676747548, 'amar': 9676747548}

In [ ]:
# To create dict feeding users data (writing data)
d = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("Enter name= ")
    phone = int(input("Enter phone= "))
    d[name] = phone
print(d)

In [3]:
d = {'ram': 9676747548, 'shyam': 9676747548, 'amar': 9676747548}
for i in d:    # to see the key
    print(i)
for i in d.values():  # to see the values
    print(i)
for i in d.items():  # to see the key & values [in tuples always] 
    print(i)

ram
shyam
amar
9676747548
9676747548
9676747548
('ram', 9676747548)
('shyam', 9676747548)
('amar', 9676747548)

In [3]:
# To convert d dictionary into tuples in list

z = []
d = {'ram': 9676747548, 'shyam': 9676747548, 'amar': 9676747548}
for i in d.items():
    z.append(i)
print(z)

[('ram', 9676747548), ('shyam', 9676747548), ('amar', 9676747548)]

In [4]:
# To convert tuples in list back into d dictionary

d = {}
z = [('ram', 9676747548), ('shyam', 9676747548), ('amar', 9676747548)]
for i in z:
    key = i[0]
    value = i[1]
    d[key] = value
print(d)

{'ram': 9676747548, 'shyam': 9676747548, 'amar': 9676747548}

In [5]:
# key value in dict can oly have imutable data type like tuple
# to store multiple unique keys in tuple form

d ={("a","A"):"apple"}
print(d)

{('a', 'A'): 'apple'}

In [7]:
# list inside dictionary
#  use to store multiple values in list form

d = {"Ram":[9975367,98876756434],"Shyam":[654342334,65434]}
print(d)

{'Ram': [9975367, 98876756434], 'Shyam': [654342334, 65434]}

In [1]:
# to see the one value at index 0-1 with key

d = {'Ram': [9975367, 98876756434], 'Shyam': [654342334, 65434]}
name = input("Enter name: ")
phone = int(input("Enter 0 for ntc & 1 for ncell ph. no : "))
print(d[name][phone])

Enter name: Ram
Enter 0 for ntc & 1 for ncell ph. no : 1
98876756434

# Dictionary Methods
 Consider the following dictionary,
1. keys() : returns a list containing dictionary’s keys. 
2. value() : returns a list containing dictionary’s key's values.
3. items() : returns a list of (key,value) tuple.    
3. update({“friend”: “Sam”}) : updates the dictionary with supplied key-value pairs.
4. get(“name”) : returns the value of the specified keys (and value is returned e.g. “Harry” is returned here)

In [4]:
# to change or update the values

d = {'Ram': [9975367, 98876756434], 'Shyam': [654342334, 65434]}
d["Ram"][1] = 9807292229 # to change the value at index 1.
print(d)
del  d["Ram"][1]  # to delete the value of index = 1.
print(d)
d["Ram"].append(9807292229) # To insert value at the end.
print(d)
d["Ram"].insert(0,9807292229)  # To insert value at desired index/places.
print(d)

{'Ram': [9975367, 9807292229], 'Shyam': [654342334, 65434]}
{'Ram': [9975367], 'Shyam': [654342334, 65434]}
{'Ram': [9975367, 9807292229], 'Shyam': [654342334, 65434]}
{'Ram': [9807292229, 9975367, 9807292229], 'Shyam': [654342334, 65434]}

In [5]:
# search
d = {'Ram': [9975367, 9807292229], 'Shyam': [654342334, 65434]}
if d.get('Ram'):
    print("Data exists")
else:
    print("Data was not found")
    
if 'Shyamt' in d:
    print("Data exists")
else:
    print("Data was not found")

Data exists
Data was not found

In [6]:
# Search with values & print its key+values

d = {'Ram': [9975367, 9807292229], 'Shyam': [654342334, 65434]}
search = int(input("ph\n"))
for i in d.items():
    if search in i[1]:
        print(i)

ph
9807292229
('Ram', [9975367, 9807292229])

In [3]:
# del

d = {'Ram': [9975367,9807292229], 'Shyam': [654342334, 65434]}
search = int(input("ph\n"))
for i in d.items():
    if search in i[1]:
        key = i[0]
        del d[key]
        break
print(d)

ph
9807292229
{'Shyam': [654342334, 65434]}

In [9]:
# dict inside dict
# Syntax 
# d = {<key>:{<key>:<vlaue>,<key>:<vlaue>},
#      <key>:{<key>:<vlaue>,<key>:<vlaue>}}

d = {"Ram":{"Physics":98,"Chemistry":89,"Math":67},
    "Shyam":{"Physics":89,"Chemistry":98,"Math":76}}
print(type(d))
print(d)
print(d["Ram"])
print(d["Ram"]["Physics"])

<class 'dict'>
{'Ram': {'Physics': 98, 'Chemistry': 89, 'Math': 67}, 'Shyam': {'Physics': 89, 'Chemistry': 98, 'Math': 76}}
{'Physics': 98, 'Chemistry': 89, 'Math': 67}
98

In [12]:
#print items

d = {"Ram":{"Physics":98,"Chemistry":89,"Math":67},
    "Shyam":{"Physics":89,"Chemistry":98,"Math":76}}
for i in d.items():
    print(i)

('Ram', {'Physics': 98, 'Chemistry': 89, 'Math': 67})
('Shyam', {'Physics': 89, 'Chemistry': 98, 'Math': 76})

In [10]:
# To update the value 

d = {"Ram":{"Physics":98,"Chemistry":89,"Math":67},
    "Shyam":{"Physics":89,"Chemistry":98,"Math":76}}
d["Ram"]["Physics"] = 89
print(d)

{'Ram': {'Physics': 89, 'Chemistry': 89, 'Math': 67}, 'Shyam': {'Physics': 89, 'Chemistry': 98, 'Math': 76}}

In [13]:
# To create dict inside dict

d = {}
n = int(input("n = "))
for i in range(n):
    name = (input("name: "))
    physics = int(input("physics marks: "))
    chemistry = int(input("chemistry marks: "))
    math = int(input("math marks: "))
    d[name] = {"physics":physics,"chemistry":chemistry,"math":math}
    
print(d)

n = 2
name: Ram
physics: 67
chemistry: 78
math: 89
name: Shyam
physics: 45
chemistry: 56
math: 67
{'Ram': {'physics': '67', 'chemistry': '78', 'math': '89'}, 'Shyam': {'physics': '45', 'chemistry': '56', 'math': '67'}}

In [3]:
# try dynamic

d = {}
s = int(input("No. of Subjects, only 3= "))
a = tuple()
for i in range(s):
    sub = input("Enter subject :\n ")
    a = a+(sub,)
n = int(input("No. of Students = "))
for j in range(n):
    name = input("name: ")
    m1 = int(input(f"{a[0]} marks: "))
    m2 = int(input(f"{a[1]} marks: "))
    m3 = int(input(f"{a[2]} marks: "))
    d[name] = {a[0]:m1,a[1]:m2,a[2]:m3}
    
print(d)

No. of Subjects, only 3= 3
Enter subject :
 Physics
Enter subject :
 Chemistry
Enter subject :
 Math
No. of Students = 3
name: Ram
Physics marks: 67
Chemistry marks: 85
Math marks: 90
name: Shyam
Physics marks: 76
Chemistry marks: 98
Math marks: 76
name: Hari
Physics marks: 23
Chemistry marks: 45
Math marks: 67
{'Ram': {'Physics': 67, 'Chemistry': 85, 'Math': 90}, 'Shyam': {'Physics': 76, 'Chemistry': 98, 'Math': 76}, 'Hari': {'Physics': 23, 'Chemistry': 45, 'Math': 67}}

In [23]:
# dict inside list (use in Django)
# Syntax
# d = [{<key>:value},{<key>:value},{<key>:value}]
# it follows the properties of list now


d =[{"Name":"Ram","Phone":9807292229},
  {"Name":"Hari","Phone":9801827314},
  {"Name":"Ray","Phone":9807342229}]
print(d[0])
print(d[1])
print(d[2])

for i in d:
    print(i)

{'Name': 'Ram', 'Phone': 9807292229}
{'Name': 'Hari', 'Phone': 9801827314}
{'Name': 'Ray', 'Phone': 9807342229}
{'Name': 'Ram', 'Phone': 9807292229}
{'Name': 'Hari', 'Phone': 9801827314}
{'Name': 'Ray', 'Phone': 9807342229}

In [25]:
d =[{"Name":"Ram","Phone":9807292229},
  {"Name":"Hari","Phone":9801827314},
  {"Name":"Ray","Phone":9807342229}]
x =  {"Name":"Rai","Phone":9805442229}
d.append(x)
print(d)

[{'Name': 'Ram', 'Phone': 9807292229}, {'Name': 'Hari', 'Phone': 9801827314}, {'Name': 'Ray', 'Phone': 9807342229}, {'Name': 'Rai', 'Phone': 9805442229}]