In [ ]:
# Tuple
 # -indexing
 # -ordered
 # -duplicate members
 # -Imutable

In [2]:
a = tuple()
b = (1,2,3)
print (type(a))
print (type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
# Ways to write tuples (, is important after element to represent that it's type is Tuple.)
a = (1,)
b = (1)
c = 1,
print (type(a))
print (type(b))
print (type(c))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [2]:
# indexing and sclicing
a = ("Apple","Ball","Cat","Dog")
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[0:3])

Apple
Ball
Cat
Dog
('Apple', 'Ball', 'Cat')

# append(), del(), replace(), pop(), update(), sort()- these function is not applicable on tuples

In [4]:
# Tuple concatenate

c = ()
a = ("Apple","Ball")
b = ("Cat","Dog", "Ball")
print(a+b+c)
print(a*2)

('Apple', 'Ball', 'Cat', 'Dog', 'Ball')
('Apple', 'Ball', 'Apple', 'Ball')

In [2]:
# to create tuple
y = tuple()
n = int(input("n= "))
for i in range(n):
    x= input("Enter Name: ")
    y = y+(x,)
print(y)

n= 4
Enter Name: Ram
Enter Name: Shyam
Enter Name: Gyani
Enter Name: Praveen
('Ram', 'Shyam', 'Gyani', 'Praveen')

In [5]:
# max() min() sum() sorted()
y = tuple()
n = int(input("n= "))
for i in range(n):
    x= int(input("Enter Name: "))
    y = y+(x,)
print("Tupple is " ,y)
print("max value is " ,max(y))   # To find the max valued element(int) in the given tuple(y). 
print("min value is " ,min(y))   # To find the min valued element(int) in the given tuple(y). 
print("Total element_int sum value = ",sum(y))
print("Sorted value is ",sorted(y))   # Always return the value in list

n= 3
Enter Name: 21
Enter Name: 11
Enter Name: 31
Tupple is  (21, 11, 31)
max value is  31
min value is  11
Total element_int sum value =  63
Sorted value is  [11, 21, 31]

In [6]:
# Sclicing and Concatenate

a = (243, 34, 234, 35, 234)
b = a[0:2]
c = a[3:]
print(b+c)

(243, 34, 35, 234)

In [5]:
# To modify(del) the tuple
# Covert tuple into list which can be modified(edit/delete)
# Perform the modification
# Convert back the resulting list into tuple

a= (243,)
b = list(a) # Coverting tuple into list which can be modified(edit/delete)
del b[0:]   # Performing the modification
tuple(b)    # Converting back the resulting list into tuple

()

In [7]:
# Multi Dimensional Tuple
a = ((1,2,3),(3,4,5),(6,7,8))    #tuple inside tuple  
a = [(1,2,3),(3,4,5),(6,7,8)]    #tuple inside list
a = ([1,2,3],[3,4,5],[6,7,8])    ##list inside tuple

In [3]:
# To create tuple inside tuple  

t = tuple()
n = int(input("n = "))
for i in range(n):
    x = int(input("enter x ="))
    y = int(input("enter y ="))
    z = int(input("enter z ="))
    t = t+((x,y,z),)
print(t)

n = 2
enter x =1
enter y =2
enter z =3
enter x =4
enter y =5
enter z =6
((1, 2, 3), (4, 5, 6))

In [2]:
# To add element in the existing tuple (as tuple is in inmutable, we need to convert it into list is mutable.)
a = ((1,2,3),(3,4,5),(6,7,8))
b =list(a)
b.append((11,12,13))
print(b)

[(1, 2, 3), (3, 4, 5), (6, 7, 8), (11, 12, 13)]

In [6]:
# to convert tuple inside tuple into list inside list

b = []
a = ((1,2,3),(3,4,5),(6,7,8))
for i in a:
    b.append(list(i))
print(b)

[[1, 2, 3], [3, 4, 5], [6, 7, 8]]

In [9]:
# to convert list inside list  into  tuple inside tuple
b = ()
a = [[1,2,3],[3,4,5],[6,7,8]]
for i in a:
    b =b+(tuple(i),)
print(b)

((1, 2, 3), (3, 4, 5), (6, 7, 8))

In [10]:
a = ((1, 2, 3), (3, 4, 5), (6, 7, 8))
b = ((9,2,1),(5,6,2))
print(a+b)

((1, 2, 3), (3, 4, 5), (6, 7, 8), (9, 2, 1), (5, 6, 2))

In [12]:
a = ((1, 2, 3), (3, 4, 5), (6, 7, 8))
b = (9,2,1)
print(a+b)

((1, 2, 3), (3, 4, 5), (6, 7, 8), 9, 2, 1)

In [2]:
# to create tuple inside tuple using more complexcity 

t1 = tuple()
n = int(input("n = "))
for i in range(n):
    t2 = tuple()
    for j in range(3):
        j = int(input("Enter the value = "))
        t2  = t2+(j,)
    t1 = t1+(t2,)
print(t1)

n = 2
Enter the value = 1
Enter the value = 2
Enter the value = 3
Enter the value = 4
Enter the value = 5
Enter the value = 6
((1, 2, 3), (4, 5, 6))